<script>
    $(document).ready(function () {
        //Functionality
        var activePositions = [];
        let id = "";
        let status = "";
    
        LoadTable();
        LoadList();
    
        $('#data-table tbody').on('click', 'tr', function () {
            var dataRow = [];
            $(this).closest('tr').find('td').each(function () {
                dataRow.push($(this).text());
            });
            console.log(dataRow);
            id = dataRow[0];
            status = dataRow[3]
        }) 
    
        $(document).on('click', '#addBtn', function () {
            let customerid = $('#customerid').val();
            let balance = $('#balance').val();

            var message = "";
            if (customerid == '') { message += 'Customer ID, ' }
            if (balance == '') { message += 'Balance, ' }
            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                console.log(customerid, balance)
                $.ajax({
                    type: 'POST',
                    url: '/customercredit/save',
                    data: {
                        customerid: customerid,
                        balance: balance,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable()
                            success('Saved', 'Successfully')
                            $('#customerid').val('');
                            $('#balance').val('');
                        }
    
                        if (result.msg == 'exist') {
                            warning('Not Exist', `${customerid} does not exist!`);
                        }
    
                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })
     
        function populatetable(data) {
            console.log(data);
            const tableBody = $('#data-table tbody');
            tableBody.empty();
    
            if (data.length === 0) {
                const tr = $('<tr>').append($('<td>', {
                    colspan: 5,
                    class: 'text-center',
                    text: 'No Data Matched'
                }));
                tableBody.append(tr);
            } else {
                data.forEach(item => {
                    let action = '';
                    if (item.status === 'ACTIVE') {
                        action = `<button id="inactiveBtn" class="btn btn-outline-danger shadow-sm w-100 mt-1" name="inactiveBtn">INACTIVE</button>`;
                    } else if(item.status === 'INACTIVE'){
                        action = `<button id="activeBtn" class="btn btn-outline-success shadow-sm w-100 mt-1" name="activeBtn">ACTIVE</button>`;
                    }
                    const tr = $('<tr>').append(
                        $('<td>', { text: item.id, 'data-label': 'ID', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.customerid, 'data-label': 'Customer ID', class: 'custom-mobile-align' }),
                        $('<td>', { text: formatCurrency(item.balance), 'data-label': 'Balance', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.status, 'data-label': 'Status', class: 'custom-mobile-align no-wrap' }),
                        $('<td>', { html: action, 'data-label': 'Action', class: '' })
                    );

                    tableBody.append(tr);
                });
            }
        }
    
        function LoadTable() {
            $.ajax({
                url: '/customercredit/load',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.msg === 'success') {
                        populatetable(data.data);
                    } else {
                        console.error(data.msg);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        function LoadList() {
            $.ajax({
                type: 'GET',
                url: '/customer/load',
                success: function (result) {
                    var data = result.data;
                    $.each(data, function (key, item) {
                        var options = new Option(item.firstname + " " + item.middlename + " " + item.lastname , item.id);
                        $('#customerid').append(options);
                    });
                },
                error: function (err) {
                    errormsg(err);
                }
            });
        }
    
        $(document).on('click', '#inactiveBtn', function(){
            console.log(id);
            console.log(status);
            $.ajax({
                type: 'POST',
                url: '/customercredit/status',
                data: {
                    status: status,
                    id: id,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        LoadTable();
                        success('Saved', 'Successfully')
                    }
    
                    if (result.msg == 'notexist') {
                        warning(`${id} does not exist!`);
                    }
    
                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });
    
        $(document).on('click', '#activeBtn', function(){
            console.log(id);
            console.log(status);
            $.ajax({
                type: 'POST',
                url: '/customercredit/status',
                data: {
                    status: status,
                    id: id,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        LoadTable();
                        success('Saved', 'Successfully')
                    }
    
                    if (result.msg == 'notexist') {
                        warning(`${id} does not exist!`);
                    }
    
                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });
    
    })
</script>