<!-- Main Content Area -->
<div class="page-holder">
  <!-- ENTRIES CALLER -->
<!-- TABLE TITLE -->
<div class="col-sm-12 mid-title-bar">
  <label id="tittle-bar">Sales Inventory</label>
</div>
  
<!-- TABLE -->
<div class="col-md-12 table-container">
    <table id="data-table" class="table">
      <thead>
          <th>ID</th>
          <th>Detail ID</th>
          <th>Product ID</th>
          <th>POS ID</th> 
      </thead>
      <tbody></tbody>
    </table>
</div>

</div>  