<!-- Main Content Area -->
<div class="page-holder">
  <!-- ENTRIES CALLER -->
<!-- TABLE TITLE -->
<div class="col-sm-12 mid-title-bar">
  <label id="tittle-bar">Sales Inventory</label>
</div>
  
<!-- TABLE -->
<div class="table-responsive scrollable-table-container-lg">
  <table id="data-table" class="table custom-mobile-table">
    <thead class="table-header">
      <th>ID</th>
      <th>Detail ID</th>
      <th>Product ID</th>
      <th>POS ID</th> 
      <th>Quantity</th> 
    </thead>
    <tbody></tbody>
  </table>
</div>
