<nav id="sidebar">
  <!-- IWANT HERE -->
  <div class="sidebar-logo text-center">
    <!-- Logo -->
    <img src="/images/logo/urbanhideout.png" alt="Logo" class="logo-img" />

    <!-- Label -->
    <div class="logo-label">Urban Hideout</div>
  </div>

  <ul class="list-unstyled components">
    <li>
      <button class="btn btn-dark sidebar-menu" type="button" id="sidebarCollapse">
        <i class="fa-solid fa-list" style="color: #ffffff"></i>
      </button>
    </li>
    <li>
      <a href="/">
        <i class="fas fa-th-large sidebar-icons"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#mastersmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-cogs sidebar-icons"></i>
        Masters
      </a>
      <ul class="collapse list-unstyled" id="mastersmenu">
        <li class="nav-item">
          <a class="nav-link" href="/masteremployee">
            <i class="fas fa-users sidebar-icons"></i>
            <label id="dd-label">Employee</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/masteraccess">
            <i class="fas fa-key sidebar-icons"></i>
            <label id="dd-label">Access</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/masterposition">
            <i class="fas fa-street-view sidebar-icons"></i>
            <label id="dd-label"> Position </label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/masterpayment">
            <i class="fas fa-money-check sidebar-icons"></i>
            <label id="dd-label">Payment</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mastercategory">
            <i class="fas fa-list sidebar-icons"></i>
            <label id="dd-label">Category</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/masteruser">
            <i class="fas fa-user sidebar-icons"></i>
            <label id="dd-label"> User </label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/masterpos">
            <i class="fas fa-cash-register sidebar-icons"></i>
            <label id="dd-label">POS</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/masterstore">
            <i class="fas fa-store sidebar-icons"></i>
            <label id="dd-label">Store</label>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#transactionlists" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-shopping-cart sidebar-icons"></i>
        Transaction
      </a>
      <ul class="collapse list-unstyled" id="transactionlists">
        <li class="nav-item">
          <a class="nav-link" href="currentassets">
            <i class="fas fa-box sidebar-icons"></i>
            <label id="dd-label">Product</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="incentives">
            <i class="fas fa-file-invoice sidebar-icons"></i>
            <label id="dd-label">Sales Details</label>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#orderlists" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-dolly-flatbed sidebar-icons"></i>
        Ordering
      </a>
      <ul class="collapse list-unstyled" id="orderlists">
        <li class="nav-item">
          <a class="nav-link" href="currentassets">
            <i class="fas fa-user sidebar-icons"></i>
            <label id="dd-label">Customer</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="incentives">
            <i class="fas fa-user-plus sidebar-icons"></i>
            <label id="dd-label">Customer Order</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="incentives">
            <i class="fas fa-cart-plus sidebar-icons"></i>
            <label id="dd-label">Request Order</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="incentives">
            <i class="fas fa-wallet sidebar-icons"></i>
            <label id="dd-label">Customer Credit</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="incentives">
            <i class="fas fa-receipt sidebar-icons"></i>
            <label id="dd-label">Balance History</label>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#inventorylist" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-boxes sidebar-icons"></i>
        Inventory
      </a>
      <ul class="collapse list-unstyled" id="inventorylist">
        <li class="nav-item">
          <a class="nav-link" href="currentassets">
            <i class="fas fa-warehouse sidebar-icons"></i>
            <label id="dd-label">Product Inventory</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="incentives">
            <i class="fas fa-file-invoice sidebar-icons"></i>
            <label id="dd-label">Sales Inventory</label>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="incentives">
            <i class="fas fa-history sidebar-icons"></i>
            <label id="dd-label">Inventory history</label>
          </a>
        </li>
      </ul>
    </li>
  </ul>

</nav>