<!doctype html>
<html lang="en">
  <head>
    <%- include("./components/header.ejs")%>
  </head>
  <body>
    
    <div class="wrapper">

        <%- include("./pages/login/login.ejs")%>
    </div>
    <!-- Optional JavaScript -->
    <%- include("./components/scripts.ejs")%>
    <!-- Optional JavaScript -->
    <%- include("./pages/login/loginscripts.ejs")%>
       
</body>
</html>