<script>
  $(document).ready(function () {
    //Functionality
    let id = "";
    let status = "";
    let ptu = "";
    let min = "";
    let serial = "";

    LoadTable();

    $("#data-table tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      id = dataRow[0];
      ptu = dataRow[4];
      min = dataRow[3];
      serial = dataRow[2];
      status = dataRow[5];
    });

    $(document).on("click", "#editBtn", function () {
      $("#posidmodal").val(id);
      $("#serialmodal").val(serial);
      $("#minmodal").val(min);
      $("#ptumodal").val(ptu);
      $("#editModal").modal("show");
    });

    $(document).on("click", "#addBtn", function () {
      let name = $("#name").val();
      let serial = $("#serial").val();
      let min = $("#min").val();
      let ptu = $("#ptu").val();

      var message = "";
      if (name == "") {
        message += "POS Name, ";
      }
      if (serial == "") {
        message += "Serial, ";
      }
      if (min == "") {
        message += "MIN, ";
      }
      if (ptu == "") {
        message += "PTU, ";
      }

      if (message != "") {
        warning("Required", `Please fill up ${message}`);
      } else {
        console.log(name);
        $.ajax({
          type: "POST",
          url: "/masterpos/save",
          data: {
            name: name,
            serial: serial,
            min: min,
            ptu: ptu,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              success("Saved", "Successfully");
              $("#name").val("");
            }

            if (result.msg == "exist") {
              warning("Exist", `${name} already exist!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    function populatetable(data) {
      console.log(data);
      const tableBody = $("#data-table tbody");
      tableBody.empty();

      if (data.length === 0) {
        const tr = $("<tr>").append(
          $("<td>", {
            colspan: 9,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        tableBody.append(tr);
      } else {
        data.forEach((item) => {
          let action = "";
          if (item.status === "ACTIVE") {
            action = `<button id="editBtn" class="btn btn-outline-primary shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                        <button id="inactiveBtn" class="btn btn-outline-danger shadow-sm w-100 mt-1" name="inactiveBtn">INACTIVE</button>`;
          } else if (item.status === "INACTIVE") {
            action = `<button id="editBtn" class="btn btn-outline-primary shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                        <button id="activeBtn" class="btn btn-outline-success shadow-sm w-100 mt-1" name="activeBtn">ACTIVE</button>`;
          }

          const tr = $("<tr>").append(
            $("<td>", {
              text: item.id,
              "data-label": "ID",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.name,
              "data-label": "Access Type",
              class: "custom-mobile-align no-wrap",
            }),
            $("<td>", {
              text: item.serial,
              "data-label": "Access Type",
              class: "custom-mobile-align no-wrap",
            }),
            $("<td>", {
              text: item.min,
              "data-label": "Access Type",
              class: "custom-mobile-align no-wrap",
            }),
            $("<td>", {
              text: item.ptu,
              "data-label": "Access Type",
              class: "custom-mobile-align no-wrap",
            }),
            $("<td>", {
              text: item.status,
              "data-label": "Status",
              class: "custom-mobile-align",
            }),
            $("<td>", { html: action, "data-label": "Action", class: "" })
          );

          tableBody.append(tr);
        });
      }
    }

    function LoadTable() {
      $.ajax({
        url: "/masterpos/load",
        method: "GET",
        dataType: "json",
        success: function (data) {
          if (data.msg === "success") {
            populatetable(data.data);
          } else {
            console.error(data.msg);
          }
        },
        error: function (error) {
          console.error(error);
        },
      });
    }

    $(document).on("click", "#updateBtn", function () {
      let posid = $("#posidmodal").val();
      let serial = $("#serialmodal").val();
      let min = $("#minmodal").val();
      let ptu = $("#ptumodal").val();

      var message = "";

      if (serial == "" && min == "" && ptu == "") {
        message += "Fill up atleast 1 input field before updating";
      }

      if (message != "") {
        warning("Required", `${message}`);
      } else {
        $.ajax({
          type: "POST",
          url: "/masterpos/edit",
          data: {
            posid: posid,
            serial: serial,
            min: min,
            ptu: ptu,
          },
          success: function (result) {
            if (result.msg == "success") {
              LoadTable();
              $("#posidmodal").modal("hide");
              $("#serialmodal").val("");
              $("#minmodal").val("");
              $("#ptumodal").val("");
              success("Saved", "Successfully");
            }

            if (result.msg == "exist") {
              warning("Exist", `${serial} already exist!`);
            }
          },
          error: function (err) {
            errormsg(err);
          },
        });
      }
    });

    $(document).on("click", "#activeBtn", function () {
      console.log(id);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/masterpos/status",
        data: {
          status: status,
          id: id,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${id} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#inactiveBtn", function () {
      console.log(id);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/masterpos/status",
        data: {
          status: status,
          id: id,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${id} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });
  });
</script>
