<div class="modal fade bd-example-modal-lg" id="sales-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom-bg">
                <h5 class="modal-title" id="exampleModalLabel">Sales Items</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body">
                <div class="card shadow">
                    <div class="card-header py-3 header-bg">
                        <h6 class="m-0 font-weight-bold table-title">Sales Items Data:</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive scrollable-table-container">
                            <table class="table table-bordered custom-mobile-table" id="category-dataTable" width="100%" cellspacing="10">
                                <thead class="table-header">
                                    <tr>
                                        <th class = "col-1">ID</th>
                                        <th class = "col-3">Detail ID</th>
                                        <th class = "col-3">Description</th>
                                        <th class = "col-2">PRice</th>
                                        <th class = "col-1">Quantity</th>
                                        <th class = "col-2">Total</th>               
                                    </tr>
                                </thead>          
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-inventory" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
  
  <!-- Main Content Area -->
  <div class="page-holder">
  
    <!-- ENTRIES CALLER -->
    <div class="col-12 ml-auto mt-3 d-flex justify-content-center button-holder">
      <!-- SHOW ENTRIES -->
      <div class="col-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text label-width" id="basic-addon2">Date:</span>
            </div>
            <input id="dateRange" name="dateRange" type="text" class="form-control" placeholder="Select Date Range" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text label-width" id="basic-addon2">POS:</span>
            </div>
            <input id="posid" name="posid" type="text" class="form-control" placeholder="Enter POS ID" aria-label="fullname" aria-describedby="basic-addon1">
        </div>
      </div>
      <!-- HIDE ENTRIES -->
      <button class="btn btn-success" id="filter">Filter</button>
    </div>
  
    <!-- ENTRIES -->
  
  
    <!-- TABLE TITLE -->
    <div class="col-sm-12 mid-title-bar">
      <label id="tittle-bar">Sales Details Table</label>
    </div>
  
    <!-- TABLE -->
    <div class="table-responsive scrollable-table-container-lg">
      <table id="data-table" class="table custom-mobile-table">
        <thead class="table-header">
          <th class="no-wrap">ID</th>
          <th class="no-wrap">POS ID</th>
          <th class="no-wrap">Date</th>
          <th class="no-wrap">Cashier</th>
          <th class="no-wrap">Payment Type</th>
          <th class="no-wrap">Details</th>
          <th class="no-wrap">Total</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  
  
  </div>