<script>
    $(document).ready(function () {
        //Functionality
        var activePositions = [];
        let employeeid = "";
        let status = "";
    
        LoadTable();
    
        $('#data-table tbody').on('click', 'tr', function () {
            var dataRow = [];
            $(this).closest('tr').find('td').each(function () {
                dataRow.push($(this).text());
            });
            console.log(dataRow);
            employeeid = dataRow[0];
            status = dataRow[7]
        }) 
    
        $(document).on('change', '#employeeid', function() {
            var selectedEmployeeId = $(this).val();
            var selectedEmployeeFullName = $('#employeeid option:selected').data('fullname');
            
            $('#fullname').val(selectedEmployeeFullName);
        });
    
        $(document).on('click', '#addBtn', function () {
            let employeeid = $('#employeeid').val();
            let fullname = $('#fullname').val();
            let username = $('#username').val();
            let password = $('#password').val();
            let accessid = $('#accessid').val();

            var message = "";
            if (employeeid == '') { message += 'Employee ID, ' }
            if (fullname == '') { message += 'Full Name, ' }
            if (username == '') { message += 'User Name, ' }
            if (password == '') { message += 'Password, ' }
            if (accessid == '') { message += 'Access Type, ' }
    
            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                console.log(employeeid, fullname, username, password, accessid,)
                $.ajax({
                    type: 'POST',
                    url: '/masteruser/save',
                    data: {
                        employeeid: employeeid,
                        fullname: fullname,
                        username: username,
                        password: password,
                        accessid: accessid,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable()
                            success('Saved', 'Successfully')
                            $('#employeeid').val('');
                            $('#fullname').val('');
                            $('#username').val('');
                            $('#password').val('');
                            $('#accesstype').val('');
                        }
    
                        if (result.msg == 'exist') {
                            warning('Exist', `${employeeid} already exist!`);
                        }
    
                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })
     
        function populatetable(data) {
            console.log(data);
            const tableBody = $('#data-table tbody');
            tableBody.empty();
    
            if (data.length === 0) {
                const tr = $('<tr>').append($('<td>', {
                    colspan: 9,
                    class: 'text-center',
                    text: 'No Data Matched'
                }));
                tableBody.append(tr);
            } else {
                data.forEach(item => {
                    $.ajax({
                        type: 'POST',
                        url: '/masteraccess/getname',
                        data: {
                            id: item.accessid
                        },
                        success: function (result) {
                            let data = result.data;
                            let action = '';
                            if (item.status === 'ACTIVE') {
                                action = `<button id="inactiveBtn" class="btn btn-outline-danger shadow-sm w-100 mt-1" name="inactiveBtn">INACTIVE</button>`;
                            } else if (item.status === 'INACTIVE') {
                                action = `<button id="activeBtn" class="btn btn-outline-success shadow-sm w-100 mt-1" name="activeBtn">ACTIVE</button>`;
                            }

                            const tr = $('<tr>').append(
                                $('<td>', { text: item.id, 'data-label': 'ID', class: 'custom-mobile-align' }),
                                $('<td>', { text: item.firstname, 'data-label': 'First Name', class: 'custom-mobile-align' }),
                                $('<td>', { text: item.middlename, 'data-label': 'Middle Name', class: 'custom-mobile-align' }),
                                $('<td>', { text: item.lastname, 'data-label': 'Last Name', class: 'custom-mobile-align' }),
                                $('<td>', { text: item.contactnumber, 'data-label': 'Contact No.', class: 'custom-mobile-align' }),
                                $('<td>', { text: item.gender, 'data-label': 'Gender', class: 'custom-mobile-align' }),
                                $('<td>', { text: item.address, 'data-label': 'Address', class: 'custom-mobile-align no-wrap' }),
                                $('<td>', { text: item.registereddate, 'data-label': 'Created Date', class: 'custom-mobile-align no-wrap' }),
                                // $('<td>', { html: action, 'data-label': 'Action', class: '' })
                            );

                            tableBody.append(tr);
                        }
                    });
                });
            }
        }
    
        function LoadTable() {
            $.ajax({
                url: '/customer/load',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.msg === 'success') {
                        populatetable(data.data);
                    } else {
                        console.error(data.msg);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    
        $(document).on('click', '#activeBtn', function(){
            console.log(employeeid);
            console.log(status);
            $.ajax({
                type: 'POST',
                url: '/employees/status',
                data: {
                    status: status,
                    employeeid: employeeid,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        LoadTable();
                        success('Saved', 'Successfully')
                    }
    
                    if (result.msg == 'notexist') {
                        warning(`${employeeid} does not exist!`);
                    }
    
                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });
    
        $(document).on('click', '#inactiveBtn', function(){
            console.log(employeeid);
            console.log(status);
            $.ajax({
                type: 'POST',
                url: '/employees/status',
                data: {
                    status: status,
                    employeeid: employeeid,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        LoadTable();
                        success('Saved', 'Successfully')
                    }
    
                    if (result.msg == 'notexist') {
                        warning(`${employeeid} does not exist!`);
                    }
    
                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });
    
    })
</script>