<script>
  $(document).ready(function () {
    //Functionality
    var activePositions = [];
    let requestid = "";
    let customerorderid = "";
    let status = "";

    LoadTable();

    $("#data-table tbody").on("click", "tr", function () {
      var dataRow = [];
      $(this)
        .closest("tr")
        .find("td")
        .each(function () {
          dataRow.push($(this).text());
        });
      console.log(dataRow);
      requestid = dataRow[0];
      customerorderid = dataRow[1];
      status = dataRow[3];
    });

    function populatetable(data) {
      console.log(data);
      const tableBody = $("#data-table tbody");
      tableBody.empty();

      if (data.length === 0) {
        const tr = $("<tr>").append(
          $("<td>", {
            colspan: 9,
            class: "text-center",
            text: "No Data Matched",
          })
        );
        tableBody.append(tr);
      } else {
        data.forEach((item) => {
          let action = "";
          if (item.status === "PENDING") {
            action = `<button id="acceptBtn" class="btn btn-outline-success shadow-sm w-100 mt-1" name="acceptBtn">ACCEPT</button>
                        <button id="cancelBtn" class="btn btn-outline-danger shadow-sm w-100 mt-1" name="cancelBtn">CANCEL</button>`;
          }

          if (item.status === "COOKING") {
            action = `<button id="deliverNowBtn" class="btn btn-outline-success shadow-sm w-100 mt-1" name="deliverNowBtn">DELIVER NOW</button>`;
          }

          if (item.status === "ON DELIVERY") {
            action = `<button id="deliveredBtn" class="btn btn-outline-success shadow-sm w-100 mt-1" name="deliveredBtn">DELIVERED</button>`;
          }
          const tr = $("<tr>").append(
            $("<td>", {
              text: item.id,
              "data-label": "ID",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.customerorderid,
              "data-label": "Order ID",
              class: "custom-mobile-align sois-link", "data-toggle": "modal", "data-target": "#sales-details-modal",
            }),
            $("<td>", {
              text: item.date,
              "data-label": "Date",
              class: "custom-mobile-align",
            }),
            $("<td>", {
              text: item.status,
              "data-label": "Created By",
              class: "custom-mobile-align no-wrap",
            }),
            $("<td>", { html: action, "data-label": "Action", class: "" })
          );

          tableBody.append(tr);
        });
      }
    }

    function LoadTable() {
      $.ajax({
        url: "/requestorder/load",
        method: "GET",
        dataType: "json",
        success: function (data) {
          if (data.msg === "success") {
            populatetable(data.data);
          } else {
            console.error(data.msg);
          }
        },
        error: function (error) {
          console.error(error);
        },
      });
    }

    $(document).on("click", "#acceptBtn", function () {
      console.log(requestid);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/requestorder/status",
        data: {
          status: 'ACCEPT',
          requestid: requestid,
          customerorderid: customerorderid,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${requestid} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#cancelBtn", function () {
      console.log(requestid);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/requestorder/status",
        data: {
          status: 'CANCEL',
          requestid: requestid,
          customerorderid: customerorderid,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${requestid} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#deliverNowBtn", function () {
      console.log(requestid);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/requestorder/status",
        data: {
          status: 'DELIVERNOW',
          requestid: requestid,
          customerorderid: customerorderid,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${requestid} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on("click", "#deliveredBtn", function () {
      console.log(requestid);
      console.log(status);
      $.ajax({
        type: "POST",
        url: "/requestorder/status",
        data: {
          status: 'DELIVERED',
          requestid: requestid,
          customerorderid: customerorderid,
        },
        success: function (result) {
          if (result.msg == "success") {
            LoadTable();
            success("Saved", "Successfully");
          }

          if (result.msg == "notexist") {
            warning(`${requestid} does not exist!`);
          }
        },
        error: function (err) {
          errormsg(err);
        },
      });
    });

    $(document).on('click', '.sois-link', function () {
      console.log("clicked");
      $.ajax({
        type: 'POST',
        url: '/customerorder/getitemorderdetail',
        data: {
          orderid: customerorderid,
        },
        success: function (result) {
          $('#category-dataTable tbody').empty();
          var data = result.data;
          console.log(data)

          $.each(data, function (key, item) {
            $("#paymentmethod").val(item.paymenttype);
            $("#customername").val(item.customerid);
            var details = JSON.parse(item.details);
            let overalltotal = 0;

            $("#customeraddress").val(details[0].address);
            console.log(details)
            $.each(details[0].items, function (index, itemData) {
              let itemName = itemData.name;
              let price = itemData.price;
              let quantity = itemData.quantity;
              let total = price * quantity;

              overalltotal += total;

              var newRow = $("<tr>");

              newRow.append($("<td>").attr('data-label', 'Details ID').addClass('custom-mobile-align').text(item.id));
              newRow.append($("<td>").attr('data-label', 'Item Name').addClass('custom-mobile-align').text(itemName));
              newRow.append($("<td>").attr('data-label', 'Price').addClass('custom-mobile-align').text(formatCurrency(price)));
              newRow.append($("<td>").attr('data-label', 'Quantity').addClass('custom-mobile-align').text(quantity));
              newRow.append($("<td>").attr('data-label', 'Total').addClass('custom-mobile-align').text(formatCurrency(total)));
              $("#overalltotal").text(formatCurrency(overalltotal));
              $('#category-dataTable tbody').append(newRow);
            });
          });

        },
        error: function (err) {
          errormsg(err);
        }
      });
    });
  });
</script>