<!-- Modal -->
<div class="modal fade " id="employeesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header custom-bg">
              <h5 class="modal-title" id="exampleModalLabel">Employees</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="custom-modal-body">
              <div class="card">
                  <div class="card-header py-2 header-bg">
                      <h6 class="m-0 font-weight-bold table-title">Update Employees: </h6>
                  </div>
                  <div class="card-body">
                      <div class="row mb-2">
                          <div class="col-md-12">
                              <label class="form-label">Employees ID</label>
                              <input id="employeeidmodal" name="employeeidmodal" type="text" class="form-control"aria-label="fullname" aria-describedby="basic-addon1" disabled>        
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 mb-3">
                          <label for="firstnamemodal">First Name</label>
                          <input id="firstnamemodal" name="firstnamemodal" type="text" class="form-control" placeholder="First Name" required />
                        </div>
              
                        <div class="col-md-4 mb-3">
                          <label for="middlenamemodal">Middle Name</label>
                          <input id="middlenamemodal" name="middlenamemodal" type="text" class="form-control" placeholder="Middle Name"
                            required />
                        </div>
              
                        <div class="col-md-4 mb-3">
                          <label for="lastnamemodal">Last Name</label>
                          <input id="lastnamemodal" name="lastnamemodal" type="text" class="form-control" placeholder="Last Name" required />
                        </div>
                      </div>
                      <div class="row mb-2">
                          <div class="col-md-12">
                              <label class="form-label">Position</label>
                              <select class="form-control text-center" name="positionlistmodal" id="positionlistmodal">
                                  <option value="">-- Select here --</option>
                              </select>  
                          </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-12">
                            <label class="form-label">Access</label>
                            <select class="form-control text-center" name="accesslistmodal" id="accesslistmodal">
                                <option value="">-- Select here --</option>
                            </select>  
                        </div>
                    </div>
                      <div class="row mb-2">
                          <div class="col-md-12">
                              <label class="form-label">Contact Number</label>
                              <input id="contactnomodal" name="contactnomodal" type="text" class="form-control" placeholder="Enter New Contact info" aria-label="fullname" aria-describedby="basic-addon1">        
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" id="closeBtn" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
              <button type="button" id="updateBtn" class="btn btn-outline-success">Update</button>
          </div>
      </div>
  </div>
</div>

<!-- Main Content Area -->
<div class="page-holder">

  <!-- ENTRIES CALLER -->
  <div class="col-12 ml-auto mt-3 d-flex justify-content-end button-holder">
    <!-- SHOW ENTRIES -->
    <button class="btn btn-dark mr-1" id="showButton2">Entries</button>
    <!-- HIDE ENTRIES -->
    <button class="btn btn-danger" id="hideButton2">Close</button>
  </div>

  <!-- ENTRIES -->
  <div class="mt-3" id="targetDiv2" style="display: none;">
    <!-- PAGE TITLE -->
    <div class="col-sm-12 top-title-bar">
      <label id="tittle-bar">Employee Entries</label>
    </div>

    <!-- ENTRIES CONTAINER -->
    <div class="col-md-12 entry-container">
      <div>
        <!-- <form class="needs-validation combined-form" novalidate> -->
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="firstname">First Name</label>
            <input id="firstname" name="firstname" type="text" class="form-control" placeholder="First Name" required />
          </div>

          <div class="col-md-4 mb-3">
            <label for="middlename">Middle Name</label>
            <input id="middlename" name="middlename" type="text" class="form-control" placeholder="Middle Name"
              required />
          </div>

          <div class="col-md-4 mb-3">
            <label for="lastname">Last Name</label>
            <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Last Name" required />
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="position">Position</label>
            <select class="form-control text-center" name="position" id="position">
              <option value="">-- Select Position Type --</option>
            </select> 
          </div>

          <div class="col-md-4 mb-3">
            <label for="accesstype">Access Type</label>
            <select class="form-control text-center" name="accesstype" id="accesstype">
              <option value="">-- Select Access Type --</option>
            </select>  
          </div>

          <div class="col-md-4 mb-3">
            <label for="contactno">Contact Number</label>
            <input id="contactno" name="contactno" type="text" class="form-control" placeholder="Contact Number"
              required />
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-4 mb-3">
            <label for="datehire">Position</label>
            <input id="datehire" name="datehire" type="datetime-local" class="form-control" placeholder="Position"
              required />
          </div>
        </div>

        <div class="row justify-content-end mr-4">
          <button id="addBtn" class="btn btn-success" type="submit">+ Add</button>
        </div>
        <!-- </form> -->
      </div>
    </div>
    <!-- CONTAINER END -->
  </div>
  <!-- END ENTRIES -->

  <!-- TABLE TITLE -->
  <div class="col-sm-12 mid-title-bar">
    <label id="tittle-bar">Employee Table</label>
  </div>

  <!-- TABLE -->
  <div class="table-responsive scrollable-table-container-lg">
    <table id="data-table" class="table custom-mobile-table">
      <thead class="table-header">
        <th class="no-wrap">ID</th>
        <th class="no-wrap">First Name</th>
        <th class="no-wrap">Middle Name</th>
        <th class="no-wrap">Last Name</th>
        <th class="no-wrap">Position</th>
        <th class="no-wrap">Access Type</th>
        <th class="no-wrap">Contact Number</th>
        <th class="no-wrap">Date Hired</th>
        <th class="no-wrap">Status</th>
        <th class="no-wrap">Created By</th>
        <th class="no-wrap">Created Date</th>
        <th class="no-wrap">Action</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>


</div>