<!-- Main Content Area -->
<div class="page-holder">
  
  <!-- ENTRIES CALLER -->
  <div class="col-12 ml-auto mt-3 d-flex justify-content-end button-holder">
    <!-- SHOW ENTRIES -->
    <button class="btn btn-dark mr-1" id="showButton2">Entries</button>
    <!-- HIDE ENTRIES -->
    <button class="btn btn-danger" id="hideButton2">Close</button>
  </div>

  <!-- ENTRIES -->
  <div class="mt-3" id="targetDiv2" style="display: none;">
    <!-- PAGE TITLE -->
    <div class="col-sm-12 top-title-bar">
      <label id="tittle-bar">Product Inventory Entries</label>
    </div>

    <!-- ENTRIES CONTAINER -->
    <div class="col-md-12 entry-container">
      <div>
        <!-- <form class="needs-validation combined-form" novalidate> -->
        <div class="row">
          <div class="col-md-8 mb-3">
            <label for="productid">Product</label>
            <select class="form-control text-center" name="productid" id="productid">
              <option value="">-- Select Product --</option>
            </select> 
          </div>
          <div class="col-md-4 mb-3">
            <label for="quantity">Quantity</label>
            <input id="quantity" name="quantity" type="text" class="form-control" placeholder="Enter Quantity"
              required />
          </div>
        </div>

        <div class="row justify-content-end mr-4">
          <button id="addBtn" class="btn btn-success" type="submit">+ Add</button>
        </div>
        <!-- </form> -->
      </div>
    </div>
    <!-- CONTAINER END -->
  </div>
  <!-- END ENTRIES -->
  
<!-- TABLE TITLE -->
<div class="col-sm-12 mid-title-bar">
  <label id="tittle-bar">Product Inventory</label>
</div>
  
<!-- TABLE -->
<div class="col-md-12 table-container">
    <table id="data-table" class="table">
      <thead>
          <th>ID</th>
          <th>Product ID</th>
          <th>Quantity</th> 
      </thead>
      <tbody></tbody>
    </table>
</div>

</div>  