
<!-- Main Content Area -->
<div class="page-holder">
  <!-- TABLE TITLE -->
  <div class="col-sm-12 mid-title-bar">
    <label id="tittle-bar">Customer Feedback Table</label>
  </div>

  <!-- TABLE -->
  <div class="table-responsive scrollable-table-container-lg">
    <table id="data-table" class="table custom-mobile-table">
      <thead class="table-header">
        <th class="no-wrap">ID</th>
        <th class="no-wrap">Order ID</th>
        <th class="no-wrap">Rating</th>
        <th class="no-wrap">Message</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
