<script>
    $(document).ready(function () {
        //Functionality
        let id = "";
        let status = "";
    
        LoadTable();
    
        $('#data-table tbody').on('click', 'tr', function () {
            var dataRow = [];
            $(this).closest('tr').find('td').each(function () {
                dataRow.push($(this).text());
            });
            console.log(dataRow);
            id = dataRow[0];
            status = dataRow[2]
        }) 
    
        // $(document).on('click', '#editBtn', function(){
        //     $('#employeeidmodal').val(employeeid);
        //     $('#employeesModal').modal('show');
        // })
    
        // $(document).on('click', '#closeBtn', function(){
        //     $('#positionlist').val('');
        //     $('#contactinfomodal').val('');
        // })
    
        // $(document).on('click', '#deleteBtn', function(){
        //     $('#employeeidmodal2').val(employeeid);
        //     $('#deleteModal').modal('show');
        // })
        
        // $('#confirm').on('input', function() {
        //     const confirmValue = $(this).val().trim().toUpperCase();
        //     const deleteBtnModal = $('#deleteBtnModal');
    
        //     // Enable the 'DELETE' button if the input value is 'CONFIRM', otherwise disable it
        //     if (confirmValue === 'CONFIRM') {
        //         deleteBtnModal.prop('disabled', false);
        //     } else {
        //         deleteBtnModal.prop('disabled', true);
        //     }
        // });
    
        $(document).on('click', '#addBtn', function () {
            let name = $('#name').val();

            var message = "";
            if (name == '') { message += 'Payment type, ' }
    
            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                console.log(name)
                $.ajax({
                    type: 'POST',
                    url: '/masterpayment/save',
                    data: {
                        name: name,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable()
                            success('Saved', 'Successfully')
                            $('#name').val('');
                        }
    
                        if (result.msg == 'exist') {
                            warning('Exist', `${name} already exist!`);
                        }
    
                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })
     
        function populatetable(data) {
            console.log(data);
            const tableBody = $('#data-table tbody');
            tableBody.empty();
    
            if (data.length === 0) {
                const tr = $('<tr>').append($('<td>', {
                    colspan: 9,
                    class: 'text-center',
                    text: 'No Data Matched'
                }));
                tableBody.append(tr);
            } else {
                data.forEach(item => {
                    let action = '';
                    if (item.status === 'ACTIVE') {
                        action = `<button id="editBtn" class="btn btn-outline-primary shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                        <button id="inactiveBtn" class="btn btn-outline-danger shadow-sm w-100 mt-1" name="inactiveBtn">INACTIVE</button>`;
                    } else if (item.status === 'INACTIVE') {
                        action = `<button id="editBtn" class="btn btn-outline-primary shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                        <button id="activeBtn" class="btn btn-outline-success shadow-sm w-100 mt-1" name="activeBtn">ACTIVE</button>`;
                    }

                    const tr = $('<tr>').append(
                        $('<td>', { text: item.id, 'data-label': 'ID', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.name, 'data-label': 'Payment Type', class: 'custom-mobile-align no-wrap' }),
                        $('<td>', { text: item.status, 'data-label': 'Status', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align no-wrap' }),
                        $('<td>', { text: item.createddate, 'data-label': 'Created Date', class: 'custom-mobile-align no-wrap' }),
                        $('<td>', { html: action, 'data-label': 'Action', class: '' })
                    );

                    tableBody.append(tr);
                });
            }
        }
    
        function LoadTable() {
            $.ajax({
                url: '/masterpayment/load',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.msg === 'success') {
                        populatetable(data.data);
                    } else {
                        console.error(data.msg);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    
        // function LoadList() {
        //     $.ajax({
        //         type: 'GET',
        //         url: '/position/load',
        //         success: function (result) {
        //             var data = result.data;
    
        //             $.each(data, function (key, item) {
        //                 if (item.status == "ACTIVE") {
        //                     activePositions.push(item.positionname); 
        //                     var options = new Option(item.positionname, item.positionname);
        //                     $(options).html(item.positionname);
        //                     $('#positionlist').append(options);
        //                 }
        //             });
        //             //console.log(activePositions);
        //             populateCustomDropdown();
        //         },
        //         error: function (err) {
        //             errormsg(err);
        //         }
        //     });
        // }
    
        // $(document).on('click', '#activeBtn', function(){
        //     console.log(employeeid);
        //     console.log(status);
        //     $.ajax({
        //         type: 'POST',
        //         url: '/employees/status',
        //         data: {
        //             status: status,
        //             employeeid: employeeid,
        //         },
        //         success: function (result) {
        //             if (result.msg == 'success') {
        //                 LoadTable();
        //                 success('Saved', 'Successfully')
        //             }
    
        //             if (result.msg == 'notexist') {
        //                 warning(`${employeeid} does not exist!`);
        //             }
    
        //         },
        //         error: function (err) {
        //             errormsg(err);
        //         }
        //     })
        // });
    
        // $(document).on('click', '#inactiveBtn', function(){
        //     console.log(employeeid);
        //     console.log(status);
        //     $.ajax({
        //         type: 'POST',
        //         url: '/employees/status',
        //         data: {
        //             status: status,
        //             employeeid: employeeid,
        //         },
        //         success: function (result) {
        //             if (result.msg == 'success') {
        //                 LoadTable();
        //                 success('Saved', 'Successfully')
        //             }
    
        //             if (result.msg == 'notexist') {
        //                 warning(`${employeeid} does not exist!`);
        //             }
    
        //         },
        //         error: function (err) {
        //             errormsg(err);
        //         }
        //     })
        // });
    
        // $(document).on('click', '#updateBtn', function () {
        //     let employeeid = $('#employeeidmodal').val();
        //     let positionname = $('#positionlist').val();
        //     let contactinfo = $('#contactinfomodal').val();
    
        //     var message = "";
    
        //     if (positionname == '' && contactinfo == ''){
        //             message += 'Fill up atleast 1 input field before updating'
        //         }
    
        //     if (message != '') {
        //         warning('Required', `${message}`);
        //     }
        //     else {
        //         $.ajax({
        //             type: 'POST',
        //             url: '/employees/edit',
        //             data: {
        //                 employeeid: employeeid,
        //                 positionname: positionname,
        //                 contactinfo: contactinfo,
        //             },
        //             success: function (result) {
        //                 if (result.msg == 'success') {
        //                     LoadTable();
        //                     $('#employeesModal').modal('hide');
        //                     $('#positionlist').val('');
        //                     $('#contactinfomodal').val('');
        //                     success('Saved', 'Successfully')
        //                 }
    
        //                 if (result.msg == 'exist') {
        //                     warning('Exist', `${positionname} already exist!`);
        //                 }
    
        //             },
        //             error: function (err) {
        //                 errormsg(err);
        //             }
        //         })
        //     }
        // })
    
        // LoadList()
    
    })
</script>