<!-- Main Content Area -->
<div class="page-holder">
  <!-- ENTRIES CALLER -->
<!-- TABLE TITLE -->
<div class="col-sm-12 mid-title-bar">
  <label id="tittle-bar">Balance History</label>
</div>
  
<!-- TABLE -->
<div class="col-md-12 table-container">
    <table id="data-table" class="table">
      <thead>
          <th>ID</th>
          <th>Credit ID</th>
          <th>Date</th>
          <th>Amount</th> 
          <th>Type</th> 
      </thead>
      <tbody></tbody>
    </table>
</div>

</div>  