<script>
    $(document).ready(function () {
        //Functionality
        var activePositions = [];
        let employeeid = "";
        let status = "";
    
        LoadTable();
    
        $('#data-table tbody').on('click', 'tr', function () {
            var dataRow = [];
            $(this).closest('tr').find('td').each(function () {
                dataRow.push($(this).text());
            });
            console.log(dataRow);
            employeeid = dataRow[0];
            status = dataRow[7]
        }) 
        
        $("#search").on("keyup", function () {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("data-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
                }
            }
        });

        document.getElementById('exportBtn').addEventListener('click', function () {
            const table = document.getElementById('data-table');
            const ws = XLSX.utils.table_to_sheet(table);

            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

            XLSX.writeFile(wb, 'exported_data.xlsx');
        });
     
        function populatetable(data) {
            // console.log(data);
            // const tableBody = $('#data-table tbody');
            // tableBody.empty();
    
            // if (data.length === 0) {
            //     const tr = $('<tr>').append($('<td>', {
            //         colspan: 5,
            //         class: 'text-center',
            //         text: 'No Data Matched'
            //     }));
            //     tableBody.append(tr);
            // } else {
            //     data.forEach(item => {

            //         const tr = $('<tr>').append(
            //             $('<td>', { text: item.id, 'data-label': 'ID', class: 'custom-mobile-align' }),
            //             $('<td>', { text: item.creditid, 'data-label': 'Credit ID', class: 'custom-mobile-align' }),
            //             $('<td>', { text: item.date, 'data-label': 'Date', class: 'custom-mobile-align' }),
            //             $('<td>', { text: formatCurrencyColored(item.amount), 'data-label': 'Amount', class: 'custom-mobile-align' }),
            //             $('<td>', { text: item.type, 'data-label': 'Type', class: 'custom-mobile-align no-wrap' }),
            //         );

            //         tableBody.append(tr);
            //     });
            // }

            console.log(data);
            const tableBody = document.querySelector('#data-table tbody');
            tableBody.innerHTML = '';
    
            if (data.length === 0) {
                const tr = $('<tr>').append($('<td>', {
                    colspan: 5,
                    class: 'text-center',
                    text: 'No Data Matched'
                }));
                tableBody.append(tr);
            } else {
                data.forEach(item => {
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td class="custom-mobile-align" data-label="ID">${item.id}</td>
                        <td class="custom-mobile-align" data-label="Credit ID">${item.creditid}</td>
                        <td class="custom-mobile-align" data-label="Date">${item.date}</td>
                        <td class="custom-mobile-align" data-label="Amount">${formatCurrencyColored(item.amount)}</td>
                        <td class="custom-mobile-align" data-label="Type">${item.type}</td>
                    `;
                    tableBody.appendChild(tr); 
                });
            }
        }
    
        function LoadTable() {
            $.ajax({
                url: '/balancehistory/load',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.msg === 'success') {
                        populatetable(data.data);
                    } else {
                        console.error(data.msg);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
    
        $(document).on('click', '#activeBtn', function(){
            console.log(employeeid);
            console.log(status);
            $.ajax({
                type: 'POST',
                url: '/balancehistory/status',
                data: {
                    status: status,
                    employeeid: employeeid,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        LoadTable();
                        success('Saved', 'Successfully')
                    }
    
                    if (result.msg == 'notexist') {
                        warning(`${employeeid} does not exist!`);
                    }
    
                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });
    
        $(document).on('click', '#cancelBtn', function(){
            console.log(employeeid);
            console.log(status);
            $.ajax({
                type: 'POST',
                url: '/balancehistory/status',
                data: {
                    status: status,
                    employeeid: employeeid,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        LoadTable();
                        success('Saved', 'Successfully')
                    }
    
                    if (result.msg == 'notexist') {
                        warning(`${employeeid} does not exist!`);
                    }
    
                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });
    
    })
</script>