<!-- Main Content Area -->
<div class="page-holder">
  <!-- ENTRIES CALLER -->
<!-- TABLE TITLE -->
<div class="col-sm-12 mid-title-bar">
  <div class="row">
    <div class="col-8">
      <label id="tittle-bar">Balance History</label>
    </div>
    <div class="col-md-4 mb-2">
      <div class="input-group">
          <input type="text" class="form-control bg-light border-0 small"
          placeholder="Search for..." aria-label="Search"
          aria-describedby="basic-addon2" id="search">
          <div class="ml-2">
            <button class="btn btn-outline-sois" type="button" id="exportBtn">
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
      </div>

    </div>
  </div>
</div>
  
<!-- TABLE -->
<div class="table-responsive scrollable-table-container-lg">
  <table id="data-table" class="table custom-mobile-table">
    <thead class="table-header">
      <th class="no-wrap">ID</th>
      <th class="no-wrap">Credit ID</th>
      <th class="no-wrap">Date</th>
      <th class="no-wrap">Amount</th>
      <th class="no-wrap">Type</th>
    </thead>
    <tbody></tbody>
  </table>
</div>

</div>  